body{
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/175/040/original/clouds-summer-weather-5k-1b.jpg?1760893129);
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-position: center;
}

a{
    color: #4fc3f7;
    text-decoration: none;
}

.weather-app{
    background-color: #ffffff;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header{
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 0 0 30px 0;
}
.search-form-input{
    background-color: #fef7fe;
    border: none ;
    border-radius: 6px;
    max-width: 80%;
    padding: 15px 20px;
    font-size: 16px;
}
.search-form-button{
    background-color: #4fc3f7;
    border: none ;
    border-radius: 6px;
    margin-left: 10px;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
}

main{
    padding: 30px 0;

}

.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details{
    font-size: 16px;
    line-height: 24px;
    color: rgba(39, 33, 66, 0.4);
    font-weight: 500;
}

.weather-app-details strong{
    color: #f65282;
}

.weather-app-temperature-container{
    display: flex;
}

.weather-app-temperature{
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;

    
}

.weather-app-unit{
    margin-top: 6px;
   font-size: 28px;
}

.weather-app-icon{
    width: 88px;
    height: 88px;

}

.weather-app-data{
    display: flex;
    justify-content: space-between;
}


footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}


